# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
package-lock.json
*/Cargo.lock
ml-mod/*/__pycache__
ml-mod/__pycache__
ml-mod/_venv
ml-mod/models/ml/recondet_model.joblib
*/*DS_Store
ml-mod/.DS_Store
ml-mod/.env
ml-mod/exe-command.txt
ml-mod/main.spec
